<!-- HEADING ROW -->
<div class="row">
	<div class="col-md-2 col-md-offset-5 col-xs-6 col-xs-offset-3 loginLogo">
		<img src="assets/images/logo-alt.png" alt="" />
	</div>
</div>
<!-- END HEADING ROW -->

<!-- LOGIN FORM ROW -->
<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<div class="login-panel panel panel-default">
			
			<div class="panel-heading">
				<h3 class="panel-title">Área Restrita</h3>
			</div>

			<div class="panel-body">

				<form role="form" name="loginForm" ng-submit="login()">
					<fieldset>
						<div class="form-group">
							<input class="form-control" placeholder="E-mail" name="email" type="email" autofocus="" id="email" ng-model="user.email" required>
						</div>
						<div class="form-group">
							<input class="form-control" placeholder="Password" name="password" type="password" value="" id="password" ng-model="user.password" required>
						</div>
						<!-- TO DO: ng-validate to only allow button after fill all fields. -->
						<button type="submit" class="btn btn-lg btn-primary btn-block" ng-disabled="loginForm.$invalid">LOGIN</button>
					</fieldset>
				</form>
			</div>

		</div>
	</div>
</div>
<!-- END LOGIN FORM ROW -->	