<!-- HEADING ROW -->
<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header">Dashboard <small>Admin Overview</small></h1>
		<ol class="breadcrumb">
			<li class="active"><i class="fa fa-dashboard"></i> Dashboard</li>
		</ol>
	</div>
</div>
<!-- END HEADING ROW -->	

<!-- INFO ROW -->	
<div class="row">
	<div class="col-lg-12">
		<div class="alert alert-info alert-dismissable">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			<i class="fa fa-info-circle"></i>  {{hi.message}}
		</div>
	</div>
</div>
<!-- END INFO ROW -->	

<!-- DASHBOARD ROW -->	
<div class="row">

	<!-- if no relationship -->
	<div class="col-lg-3 col-md-6" ng-if="!edge.has_child && !edge.has_parent" ng-repeat="edge in edges">

		<div class="panel panel-primary">
			<div class="panel-heading">
				<div class="row">
					<div class="col-xs-3">
						<i class="fa fa-{{edge.icon}} fa-5x"></i>
					</div>
					<div class="col-xs-9 text-right">
						<div class="huge">{{edge.count}}</div>
						<div>{{edge.title}}</div>
					</div>
				</div>
			</div>
			<a href="#/list/{{edge.name}}">
				<div class="panel-footer">
					<span class="pull-left">Ver Todos</span>
					<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
					<div class="clearfix"></div>
				</div>
			</a>
		</div>
	</div>
	<!-- endif -->

	<!-- if one-to-many relationship -->
	<div class="col-lg-3 col-md-6" ng-if="edge.has_parent" ng-repeat="edge in edges">

		<div href="javascript:;" class="panel panel-green">
			<div class="panel-heading">

				<div class="row">

					<div class="col-xs-3">
						<i class="fa fa-{{edge.icon}} fa-5x"></i>
					</div>
					<div class="col-xs-9 text-right">
						<div class="huge">{{edge.count}}</div>
						<div>{{edge.title}}</div>
					</div>

				</div>
				<div class="row">
					<div class="col-xs-12">
						Related to:<br />
						<ul class="list-inline">
							<li ng-if"edge.has_parent" ng-repeat="submenu in edge.parent">
								<a href="#/list/{{submenu.name}}"><i class="fa fa-fw fa-{{submenu.icon}}"></i> {{submenu.title}}</a> </li>
						</ul>
					</div>
				</div>
			</div>
			<a href="#/list/{{edge.name}}">
				<div class="panel-footer">
					<span class="pull-left">Ver Todos</span>
					<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
					<div class="clearfix"></div>
				</div>
			</a>
		</div>
	</div>
	<!-- end if -->

</div>
<!-- END ROW -->
