<!-- HEADING ROW -->
<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header">Dashboard <small>Visão Geral</small></h1>
		<ol class="breadcrumb">
			<li class="active"><i class="fa fa-dashboard"></i> Dashboard</li>
		</ol>
	</div>
</div>
<!-- END HEADING ROW -->	

<!-- INFO ROW -->	
<div class="row">
	<div class="col-lg-12">
		<div class="alert alert-info alert-dismissable">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			<i class="fa fa-info-circle"></i>  {{hi.message}}
		</div>
	</div>
</div>
<!-- END INFO ROW -->	

<!-- DASHBOARD ROW -->	
<div class="row">

	<div class="col-lg-3 col-md-6" ng-if="!edge.has_child" ng-repeat="edge in edges">
		<div class="panel" ng-class="{'panel-primary': !edge.has_parent , 'panel-green': edge.has_parent}">

			<div class="panel-heading">
				<div class="row">
					<div class="col-xs-3">
						<i class="fa fa-{{edge.icon}} fa-5x"></i>
					</div>
					<div class="col-xs-9 text-right">
						<div class="huge">{{edge.count}}</div>
						<div>{{edge.title}}</div>
					</div>
				</div>
			</div>

			<div class="panel-footer">
				<span class="pull-left" ng-if="edge.has_parent">
					<div class="btn-group">
						<button class="btn btn-success btn-xs dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<i class="fa fa-link"></i> Relações <span class="caret"></span>
						</button>
						<ul class="dropdown-menu">
							<li ng-if"edge.has_parent" ng-repeat="submenu in edge.parent">
								<a href="#/list/{{submenu.name}}"><i class="fa fa-fw fa-{{submenu.icon}}"></i> {{submenu.title}}</a> 
							</li>
						</ul>
					</div>	
				</span>
				<span class="pull-right">
					<a href="#/list/{{edge.name}}">Ver Todos <i class="fa fa-arrow-circle-right"></i></a>
				</span>
				<div class="clearfix"></div>
			</div>

		</div>
	</div>

</div>
<!-- END ROW -->