<!-- HEADING ROW -->
<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header">{{schema.title}}</h1>
		<ol class="breadcrumb">
			<li><i class="fa fa-dashboard"></i>  <a href="#/">Dashboard</a></li>
			<li class="active"><i class="fa fa-th-list"></i> {{schema.title}}</li>
		</ol>
	</div>
</div>
<!-- END HEADING ROW -->

<!-- INFO ROW -->	
<div class="row" ng-controller="AlertController">
	<div class="col-lg-12">
		<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)"><i class="fa fa-info"></i> {{alert.msg}}</alert>
	</div>
</div>
<!-- END INFO ROW -->	

<div class="panel panel-default">

	<!-- panel-heading -->	
	<div class="panel-heading">
		<i class="fa fa-th-list fa-fw"></i> {{schema.title}}

		<div class="btn-group pull-right" role="group">
			<a class="btn btn-xs btn-primary" href="#/create/{{schema.bean}}"><i class="fa fa-plus"></i> Adicionar {{schema.title}}</a>
			<button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-chevron-down"></i></button>
			<ul class="dropdown-menu slidedown" role="menu">
				<li><a href="" ng-click="onReload()"><i class="fa fa-refresh fa-fw"></i> Atualizar</a></li> 
				<li><a href="" ng-click="onExport()"><i class="fa fa-table"></i> Exportar</a></li>
				<li class="divider"></li>
				<li><a href="#/create/{{schema.bean}}"><i class="fa fa-plus"></i> Adicionar {{schema.title}}</a></li>
			</ul>
		</div>
	</div>
	<!-- /.panel-heading -->

	<!-- panel-body -->
	<div class="panel-body table-responsive">
		<table class="table table-hover">
			<thead>
				<tr>
					<th>#</th>
					<th>Título</th>
					<th class="hidden-xs">Criado</th>
					<th class="hidden-sm hidden-xs">Atualizado</th>
					<th class="text-center">Ações</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in items">
					<td>{{item.id}}</td>
					<td><a href="#/read/{{schema.bean}}/{{item.id}}">{{item.name}}</a></td>
					<td class="hidden-xs">{{item.created}}</td>
					<td class="hidden-sm hidden-xs">{{item.modified}}</td>
					<td class="text-right">
						<a href="#/read/{{schema.bean}}/{{item.id}}" class="btn btn-default btn-sm"><i class="fa fa-eye"></i></a>
						<a href="#/update/{{schema.bean}}/{{item.id}}" class="btn btn-default btn-sm"><i class="fa fa-pencil"></i></a>
						<button ng-click="onDestroy(item.id)" class="btn btn-default btn-sm"><i class="fa fa-trash"></i></button>
					</td>
				</tr>
			</tbody>
		</table>

		<div ng-show="numPages > 1" class="text-center">
			<pagination ng-model="currentPage" ng-change="pageChanged()" num-pages="numPages" total-items="totalItems" max-size="maxSize" items-per-page="itemsPerPage" boundary-links="true" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">
			</pagination>
		</div>

	</div>
	<!-- /.panel-body -->

	<!-- /.panel-footer -->
	<div class="panel-footer text-right">
		<!-- TODO: totalItems não exibe o número correto de registro da página. -->
		<small>Você está visualizando a página {{currentPage}} de {{numPages}}. Exibindo {{itemsThisPage}} registro(s) de {{totalItems}} registro(s).</small>
	</div>
	<!-- /.panel-footer -->

</div>