<!-- Page Heading -->
<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header">
			Atualizar {{item.title}}
		</h1>
		<ol class="breadcrumb">
			<li><i class="fa fa-dashboard"></i> <a href="/admin">Dashboard</a></li>
			<li><i class="fa fa-th-list"></i> <a href="/admin/#/{{schema.bean}}">{{schema.title}}</a></li>
			<li class="active"><i class="fa fa-edit"></i> {{item.title}}</li>
		</ol>
	</div>
</div>
<!-- /.row -->

<div class="row">
	<div class="col-lg-6">

		<form role="form" novalidate name="AddNewForm" id="add-new-form" method="post" action="">
			
			<input type="hidden" ng-model="item.id" value="{{item.id}}" />
			
			<div class="form-group">
				<label for="title">Título:</label>
				<input class="form-control" type="text" ng-model="item.title" value="{{item.title}}" required />
			</div>
			
			<div class="form-group">
				<label for="shortdescription">Descrição Curta:</label>
				<input class="form-control" type="text" ng-model="item.shortdescription" value="{{item.shortdescription}}" required />
			</div>
			
			<div class="form-group">
				<label for="description">Descrição:</label>
				<input class="form-control" type="text" ng-model="item.description" value="{{item.description}}" required />
			</div>
		
			<button class="btn btn-primary" ng-disabled="AddNewForm.$invalid || isUnchanged(item)" id="add-new-btn" ng-click="update(item)">Salvar <span class="fa fa-floppy-o"></span></button>
			<button class="btn btn-danger" ng-click="delete(item)">Excluir <span class="fa fa-trash"></span></button>
			<a href="#/{{schema.bean}}" class="btn">Cancelar</a>

		</form>

	</div>
</div>
<!-- /.row -->

<br />