/* CSS LIBS */
/******************************************************** */
@import url("libs/bootstrap.min.css");
@import url("libs/font-awesome.min.css");
@import url("libs/sb-admin.min.css");
@import url("libs/angular-loading-bar.min.css");
@import url("libs/jquery.sceditor.theme.default.min.css");

/* CSS CUSTOM */
/******************************************************** */

/* bootstrap */
html {
	background-color: #ffffff;
}

.table>tbody>tr>td, 
.table>tbody>tr>th, 
.table>tfoot>tr>td, 
.table>tfoot>tr>th, 
.table>thead>tr>td, 
.table>thead>tr>th {
	vertical-align: middle;
}

.nav, 
.pagination, .carousel, .panel-title a { 
	cursor: pointer; 
}

.loginLogo>img {
	width: 100%;
	padding-bottom: 20px;
}

.navbar-brand>img {
	max-height: 25px;
}

.panel-footer a {
	line-height: 22px;
}

.panel-green a {
	color: #5cb85c;
}
.panel-green a:hover {
	color: #3d8b3d;
}
/* ./end */

/* angular-loading-bar */
#loading-bar-spinner {
	right: 15px;
    left: inherit;
    top: 62px;}
/* ./end */

/* json editor */
json-editor h3 {
	display:none;
}

p.help-block {
	width: 100%; font-size: 0.9em;
	margin-top: 15px;
	display: inline-block;
}

p.help-block br {
	display: none;
}

p.help-block img {
	float: right; 
	padding: 2px;
}

p.help-block button {
	float: right; 
	margin-right: 10px;
}
/* ./end */

/* media queries */
@media(min-width:768px) {
	
	#wrapper {
		padding-left: 0;
	}
	
	#wrapper.isAuth {
		padding-left: 225px;
	}
	
	.side-nav-sub>li>a {
		width: 225px;
	}

}
/* ./end */