
/* custom */

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    vertical-align: middle;
}

html{
	background-color: #ffffff;
}

json-editor h3{
    display:none;
}

#nprogress .spinner {
    top: 65px !important;
}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

@media(min-width:768px) {

    .side-nav-sub>li>a {
        width: 225px;
    }
}