
/* custom */

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    vertical-align: middle;
}

html{
	background-color: #ffffff;
}

json-editor h3{
    display:none;
}

#nprogress .spinner {
    top: 65px !important;
}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

/* JSON EDITOR UPLOADER */
p.help-block {
	width: 100%;
    font-size: 0.9em;
    margin-top: 15px;
    display: inline-block;
}

p.help-block br {
    display: none;
}

p.help-block img {
    float: right;
    padding: 2px;
}

p.help-block button {
    float: right;
    margin-right: 10px;
}
/* JSON EDITOR */

@media(min-width:768px) {

    .side-nav-sub>li>a {
        width: 225px;
    }
}

