# RED BEAN PHP
# ----------------------------------------------------------------------------------------
RewriteEngine On

# Some hosts may require you to use the `RewriteBase` directive.
# If you need to use the `RewriteBase` directive, it should be the
# absolute physical path to the directory that contains this htaccess file.
#
# RewriteBase /

# API AUTHORIZATION REWRITE RULES
# ----------------------------------------------------------------------------------------
RewriteCond %{HTTP:Authorization} ^(.*)
RewriteRule .* - [e=HTTP_AUTHORIZATION:%1]

# API ENDPOINTS by elijah
# ----------------------------------------------------------------------------------------
RewriteCond 	%{REQUEST_FILENAME} !-f
RewriteRule 	^([^/]+)$ index.php?mode=$1 [L]
RewriteRule 	^([^/]+)/([^/]+)$ index.php?mode=$1&action=$2 [L]
RewriteRule 	^([^/]+)/([^/]+)/([^/]+)$ index.php?mode=$1&action=$2&edge=$3 [L]
RewriteRule 	^([^/]+)/([^/]+)/([^/]+)/([^/]+)$ index.php?mode=$1&action=$2&edge=$3&param=$4 [L]
